__pycache__/
.pytest_cache/
.venv/
*.pyc
.cache/

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars

kubeconfig
*.kubeconfig
.idea/
.vscode/

certs/*.crt
certs/*.pem
